<!DOCTYPE html>
<html>
<head>
	<title>Forum | Sign In</title>
<link rel="stylesheet" type="text/css" href="/static/css/sign.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	 <!--MAIN DIV CONTAINS THE SIGIN AND SIGNUP FORMS-->
  <div class="main">
    <!-- check if the .SignIn variable is true. If it is - render the HTML code inside the if block; otherwise, it skips it.-->
		{{if .SignIn}}	
    <!--create a hidden checkbox input that is checked if the .SignIn variable is true-->
			<input type="checkbox" id="chk" aria-hidden="true" checked>
		{{else}}
    <!--create a hidden checkbox input that is unchecked if the .SignIn variable is false. -->
			<input type="checkbox" id="chk" aria-hidden="true" unchecked>
		{{end}}	
        <input type="checkbox" id="chk" aria-hidden="true">		
        <!--DIV CONTAINING SIGNUP FORM-->
			<div class="signup">
        <!--create a form that submits the data to the /signup endpoint using the HTTP POST method-->
				<form action="/signup" method="POST"></formaction>
					<label for="chk" aria-hidden="true" >Sign up</label>
          <!-- id Signup variable is true - render the code block inside the if-block-->
					{{if .SignUp }}	
          <!--create a div that displays a warning message if the .SignUp variable is true-->
						<div class="warning-message">Username or email invalid or already exists</div>
					{{ end }}				
          <!--create a text input for the username, email and password fields that are required to submit the form.-->	
					<input type="text" name="signup_username" placeholder="User name" required="">
					<input type="email" name="signup_email" placeholder="Email" required="">
					<input type="password" name="signup_password" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>
      <!--DIV FOR THE LOGIN FORM-->
			<div class="login">
        <!--create a form that submits the data to the '/login' endpoint using the HTTP POST method-->
				<form action="/login" method="POST"  autocomplete="off"></formaction>
					<label for="chk" aria-hidden="true">Login</label>
					{{if .SignIn }}	
					<div class="warning-message">Invalid email or password</div>
					{{ end }}						
					<input type="email" name="login_email" placeholder="Email" required="">
					<input type="password" name="login_password" placeholder="Password" required="">
					<button>Log in</button>
				</form>
			</div>
	</div>
</body>
</html>